// COLORS
$bg-primary: #0e0e0e;
$bg-secondary: #131313;
$color-white: #cacaca;
$color-fade: #dadada83;
$color-gray: #8b8b8b;
$color-light-gray: #c7c7c7ad;
$color-info: #019ac0;
$color-success: #09c83f;
$color-warn: #f3ac22;
$color-dark: #2d2d2d;
$color-teal: #49c297;
$color-red: #fd7d85;
$color-pink-light: #e47fe7;
$color-purple: #9c27b0;


$mobile-sm-width: 320px;
$mobile-m-width: 375px;
$mobile-sml-width: 425px;
$mobile-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;