@import 'variables';

@mixin h-screen {
  height: 100vh;
}

@mixin min-h-100 {
  min-height: 100%;
}

@mixin h-full {
  height: 100%;
}

@mixin h-half {
  height: 50%;
}

@mixin h-1 {
  height: 1rem;
}

@mixin h-2 {
  height: 1.6rem;
}

@mixin h-3 {
  height: 2rem;
}

@mixin h-50 {
  height: 50px;
}

@mixin h-70 {
  height: 70px;
}

@mixin h-100 {
  height: 100px;
}

@mixin h-120 {
  height: 120px;
}

@mixin h-150 {
  height: 150px;
}

@mixin h-190 {
  height: 190px;
}

@mixin h-200 {
  height: 200px;
}

@mixin h-220 {
  height: 220px;
}

@mixin h-250 {
  height: 250px;
}

@mixin h-300 {
  height: 300px;
}

@mixin h-400 {
  height: 400px;
}

@mixin max-h-400 {
  max-height: 400px;
}

@mixin max-h-500 {
  max-height: 500px;
}

@mixin max-h-600 {
  max-height: 600px;
}

@mixin h-screen-90 {
  height: 92vh;
}


.h-screen {
  @include h-screen();
}

.min-h-100 {
  @include min-h-100();
}

.h-full {
  @include h-full();
}

.h-half {
  @include h-half();
}

.h-1 {
  @include h-1();
}

.h-2 {
  @include h-2();
}

.h-3 {
  @include h-3();
}

.h-50 {
  @include h-50();
}

.h-70 {
  @include h-70();
}

.h-100 {
  @include h-100();
}

.h-120 {
  @include h-120();
}

.h-150 {
  @include h-150();

}

.h-190 {
  @include h-190();
}

.h-200 {
  @include h-200();

}

.h-220 {
  @include h-220();
}

.h-250 {
  @include h-250();
}

.h-300 {
  @include h-300();

}

.h-400 {
  @include h-400();

}

.max-h-400 {
  @include max-h-400();
}

.max-h-500 {
  @include max-h-500();
}

.max-h-600 {
  @include max-h-600();
}

.h-screen-90 {
  height: 92vh;
}

@media (min-width: $mobile-sm-width) {
  .xsm\:h-150 {
    @include h-150();
  }

  .xsm\:h-190 {
    @include h-190();
  }
}

@media (min-width: $mobile-m-width) {
  .ssm\:h-190 {
    @include h-190();
  }
}

@media (min-width: $mobile-sml-width) {
  .sml\:h-220 {
    @include h-220();
  }
}

@media (min-width: $mobile-width) {
  .sm\:h-auto {
    height: auto
  }

  .sm\:h-100 {
    @include h-100();
  }

  .sm\:h-200 {
    @include h-200();
  }

  .sm\:h-300 {
    @include h-300();
  }

  .sm\:h-150 {
    @include h-150();
  }

  .sm\:h-250 {
    @include h-250();
  }

  .sm\:h-300 {
    @include h-300();
  }

  .sm\:h-400 {
    @include h-400();
  }

  .sm\:h-60 {
    height: 60%;
  }

  .sm\:max-h-500 {
    @include max-h-500();
  }

  .sm\:max-h-600 {
    @include max-h-600();
  }
}