.SkeletonAnimate {
  position: relative;
}
.SkeletonAnimate::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #a8a8a850);
  animation: fade 0.9s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fade {
  from {
    width: 0%;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 0;
  }
}
