$teal: #00b9ae;
$white: #f9f9f9;
$black: #16181e;
$gray: #21242d;
$low-op-title: #f9f9f9ab;
$low-op-btn: #f9f9f933;

$border: #f9f9f91a;

$text-normal: 15.867px;
$text-medium: 18px;
$text-lg: 21.156px;
$text-title: 48px;
