@import '../../app/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 1.6rem;

  .section__heading {
    display: flex;
    min-width: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    & h2 {
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
    }

   & .section__link {
     font-size: 1rem;
     font-weight: 500;
     color: $teal;
   } 
  }
}
